[Unit]
Description=RPi Camera RTMP Stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/pi/stream/stream.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
